.places {
    padding: 92px 148px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 100%;
}

@media(max-width: 1024px) {
    .places {
        padding: 92px 48px;
    }
}

@media(max-width: 768px) {
    .places {
        padding: 88px 24px 90px;
        gap: 73px;
    }
}

@media(max-width: 320px) {
    .places {
        padding: 64px 0 66px;
        gap: 50px;
    }
}