.place__paragraph {
    font-family: 'Inter', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
    margin: 0 0 26px 0;
    word-wrap: break-word;
}

.place__paragraph:last-of-type {
    margin: 0;
}

@media(max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        margin-bottom: 25px;
    }
}

@media(max-width: 650px) {
    .place__paragraph {
        max-width: 100%;
    }
}

@media(max-width: 350px) {
    .place__paragraph {
        padding: 0 16px;
    }
}
