.intro__title {
    margin: 0;
    font-family: 'Inter', Helvetica, sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
}

@media(max-width: 500px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.09;
    }
}